<div class="w-full h-screen flex flex-col content-center flex-wrap ">

    <div class="w-3/5 pt-20 pb-10">

        <!-- input search field -->
        <div class="pb-2">

            <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg class="w-5 h-5 text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div>
                <input type="text" #input (input)="filterItems(input.value)" type="text" id="input-group-search"
                    class="text-xl block w-full p-2 pl-12 text-gray-100 border border-gray-300 rounded-lg bg-gray-600 border-gray-500 dark:placeholder-gray-400 text-white"
                    placeholder="Search ">
            </div>
        </div>


        <!-- list of results -->

        <div *ngFor="let program of filteredPrograms">
            <a (click)="openProgram(program)"
                class="w-full cursor-pointer block my-1 p-6 bg-gray-100 border border-gray-400 rounded-lg shadow hover:bg-gray-300 ">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-700">{{program?.title}}</h5>
                <p class="text-gray-500">{{program?.description}}</p>
            </a>
        </div>

        <button (click)="signin()"
            class="rounded bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 shadow hover:shadow-lg outline-none focus:outline-none ease-linear transition-all duration-150"
            type="button">
            sign in
        </button>

        <h1 *renderRoles="[appRole.ADMIN]">admin only</h1>
        <h1 *renderRoles="[appRole.PROGRAMMER]">programmer only</h1>

        <app-no-result-found *ngIf="!filteredPrograms"></app-no-result-found>
    </div>

</div>